services:
  quant_api:
    image: xiz001/quant_api:fda9ded
    container_name: quant_api
    restart: always
    ports:
      - "8081:8081"
    networks:
      - project-net
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8081/api/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

  quant_ui:
    image: xiz001/quant_ui:e246ace
    container_name: quant_ui
    restart: always
    ports:
      - "80:80"
    depends_on:
      - quant_api
    networks:
      - project-net
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

  quant_data:
    image: xiz001/quant_data:a31ca65
    container_name: quant_data
    restart: always
    depends_on:
      - quant_api
    networks:
      - project-net
    volumes:
      - ./quant_data/scripts:/app/scripts
    healthcheck:
      test: [ "CMD", "python", "-c", "print('ok')" ]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 30s

  keycloak:
    image: xiz001/quant_keycloak:407568b
    container_name: quant_keycloak
    restart: always
    ports:
      - "8080:8080"
    networks:
      - project-net
    environment:
      - KC_DB=mysql
      - KC_DB_URL=jdbc:mysql://192.168.1.26:13306/keycloak?useSSL=false&allowPublicKeyRetrieval=true
      - KC_DB_USERNAME=root
      - KC_DB_PASSWORD=root
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin

  dify-api:
    image: langgenius/dify-api:latest
    container_name: quant_dify_api
    ports:
      - "8088:5001"
    environment:
      APP_NAME: "QuantAI Assistant"
      MODE: api
      BASE_URL: "http://quant_dify_api:5001"
      CONSOLE_URL: "http://localhost:8089"
      WEB_URL: "http://localhost:8089"
      OPENAI_API_KEY: "sk-yourkey"
      BASE_OPENAI_API_URL: "https://api.openai.com/v1"
    volumes:
      - ./dify_data:/app/storage
    networks:
      - project-net

  dify-web:
    image: langgenius/dify-web:latest
    container_name: quant_dify_web
    ports:
      - "8089:3000"
    environment:
      API_URL: "http://localhost:8088"
    depends_on:
      - dify-api
    networks:
      - project-net


networks:
  project-net:
    name: project-net
